<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>
      Finally, the first Cost Management Solution made exclusively for moving companies, just like your's.
    </p>
    <p>
      SimpleCost helps you:
        <br>Manage Labor Costs
        <br>Discover Hidden Expenses
        <br>Visualize Profitability
    </p>
    <p>
      We are currently looking for a small group of beta customers to help us discover the future of moving!
    </p>
    <p>
      <%= link_to "Sign me up for a FREE beta trial!", new_contact_path %>
    </p>
  </div>
  <div class="col-2 homepage_content">

  </div>
  <div class="col-3 homepage_content">
  </div>
</div>
