<h1 id="page_title">Our Story</h1>

<div id="posts_wrapper" class="skinny_wrapper">

<p>My family has always been in the moving industry. My uncle has owned a local moving company in Bradenton, Florida as far back as I can remember. My dad used to load trucks and my mom still packs to this day.</p>

<p>Today, my dad works as head of operations. When he first started we would talk about the unique challenges that he was facing in his new role. Over and over, we would always come back to the challenge of job-costing. As a software professional specializing in analytics, I decided to work with my dad to help him and my uncle lay the age-old problem to rest. At first, we came up with some fancy spreadsheets. Over time, it grew into the first version of SimpleCost, the first Cost Management Solution made exclusively for movers, just like you!</p>

<p>We want to share the insights and cost savings already realized by my dad and uncle with the rest of the moving community. That’s why we started growing our team and our technology. Today, we are a team of 5 working to deliver the best Cost Management Solution moving companies could ever imagine.</p>

<%= link_to "Sign up to be one of our beta customers for free!!!", new_contact_path %>

<p>Sincerely,<br>
Mark Johnson and the SimpleCost Team</p>

</p>
</div>

<%= will_paginate @projects %>
